extends layout
block content
  h1.title Check back with us
  p.
    Set a time today to spend your anxiety credits by and check back with us!
    We'll help you reevaluate your anxiety levels again.
  h2.subtitle Set a time today
  span.icon
    i.fas.fa-calendar-day
  input(type="date")
  input(type="time")
  small
    p Select to change time
  .button
    a(href="/objective") Start challenge!
