extends layout
block content
  h1.title Reward
  p.
    We encourage you to pick a reward to award yourself with after
    you've spent your anxiety credits. This would reinforce the
    positive habit of dealing with anxiety in an actionable manner.
  h2.subtitle Pick a reward
  include rewards
  .button
    a(href="/checkback") Next
